.idea/
*.sln.DotSettings.user
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
out/
*.nupkg
*.snupkg
packages/
# If using Paket
.paket/
paket-files/
.vscode/
*.tmp
*.log
*.vspscc
*.vssscc
.DS_Store
Thumbs.db
.idea/.idea.*
_ReSharper*/
*.[Rr]e[Ss]harper
TestResults/
*.TestResult.xml
*.trx
publish/
*.bak
*.zip
*.tar.gz
